/.idea 
/report.xml 
/.phpstorm.meta.php 
/.phpunit.result.cache
/build
/vendor

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
